@import '../styles/variables';

.page {
  min-height: 100svh;
  padding-top: $page-padding-top;
  overflow-x: hidden;

  @media (max-width: $mobile) {
    padding-top: $page-padding-top-mobile;
  }
}
